.Boolean {
}

.Boolean label {
    font-size: 1.2em;
    width: 100%;
}

.Boolean label span {
    color: var(--danger);
}

.Boolean .inputs-boolean {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    align-items: center;
    align-content: center;
    gap: 10px;
}