.Input {
    display: flex;
    flex-direction: column;
}

.Input label {
    font-size: 1.2em;
}

.Input label span {
    color: var(--danger);
}

.Input input {
    padding: 10px;
    font-size: 1.2em;
    border: none;
    border-radius: 8px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.1), 0 5px 15px -3px rgba(0,0,0,0.1), 0 5px 15px -3px rgba(0,0,0,0.1);
}