.Select {
}

.Select label {
    font-size: 1.2em;
    width: 100%;
}

.Select label span {
    color: var(--danger);
}

.Select select {
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    border: none;
    border-radius: 8px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.1), 0 5px 15px -3px rgba(0,0,0,0.1), 0 5px 15px -3px rgba(0,0,0,0.1);
}