.Debuff {
    width: 50px;
    height: 50px;
    margin: auto;
}

.Debuff img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

@media (max-width: 768px){

    .Debuff {
        width: 30px;
        height: 30px;
    }

    .Debuff img {
        width: 30px;
        height: 30px;
    }
}