header {
    height: 8%;
    width: 100%;
    background: var(--yellow-light);
    background: radial-gradient(circle, var(--yellow-light) 70%, var(--yellow-dark) 100%);
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 0 50px;
    gap: 20px;
    box-shadow: inset 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}

.obelix {
    width: 30px;
    height: 30px;
}
  
h1, h2, h1 a {
    font-size: 40px;
    font-weight: 900;
    letter-spacing: -1px;
    -webkit-text-stroke-width: 2px;
    background: linear-gradient(180deg, var(--font-color-top) 20%, var(--font-color-bottom) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: var(--font-shadow-color);
    text-decoration: none;
    box-shadow: none;
}
  
@media (max-width: 1700px) {
    h1, h2, h1 a {
        font-size: 40px;
        font-weight: 800;
        -webkit-text-stroke-width: 2px;
    }
}

@media (max-width: 430px) {
    header {
        padding: 0 10px;
        gap: 10px;
        justify-content: space-around;
        height: 8%;
    }

    h1, h2, h1 a {
        font-size: 32px;
        font-weight: 700;
        -webkit-text-stroke-width: 1px;
    }
}