.Home {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home p {
    color: var(--font-color);
    font-size: 40px;
    -webkit-text-stroke-color: var(--font-shadow-color);
    font-weight: 900;
    letter-spacing: -1px;
    -webkit-text-stroke-width: 2px;
}

@media (max-width: 430px) {
    .Home {
        width: 100%;
        height: 100%;
    }
}