.TableClassic {
    width: 90%;
    margin-top: 20px;
    border-spacing: 0;
    overflow: auto;
    margin: 20px auto;
}

.TableClassic th {
    background-color: var(--font-shadow-color);
    color: var(--font-color);
    padding: 10px;
    text-align: center;
    border: 1px solid var(--font-shadow-color);
}

.TableClassic td {
    background-color: var(--button-inside);
    color: var(--font-color);
    border: 1px solid var(--font-shadow-color);
    padding: 10px;
    text-align: center;
    width: 100px;
    height: 100px;
    font-size: 20px;
}

.TableClassic td.bad {
    background-color: var(--bad);
}

.TableClassic td.good {
    background-color: var(--good);
}

.TableClassic td.particiel {
    background-color: var(--particiel);
}

@media (max-width: 768px) {
    .TableClassic {
        width: 100%;
    }

    .TableClassic th {
        font-size: 16px;
    }

    .TableClassic td {
        font-size: 16px;
    }
}

@media (max-width: 430px) {
    .TableClassic th {
        font-size: 12px;
    }

    .TableClassic td {
        font-size: 12px;
    }

    .TableClassic td img {
        width: 30px;
        height: 30px;
    }
}